django==4.1.5
python-decouple==3.7
django-cors-headers==3.13.0
mysqlclient==2.1.1
tweepy==4.12.1
graphene_django==3.0.0
pytrends==4.9.0
coverage==7.0.5
tensorflow==2.12.0
datasets==2.11.0
googletrans==4.0.0rc1
emoji==1.6.3